.spacer {
   background-color: lightgreen;
   width: var(--space);
   height: 1em;
}

section#spacing {
   & ul {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-inline-start: 0;
   }

   & li {
      display: block;
      font-size: 0.8rem;
      font-family: monospace;
      color: black;
      height: 2em;
      font-weight: bold;
      list-style: none;
   }
}