section#borders-preview {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

section#borders-preview div {
   border-color: white;
   margin: 1rem;
   padding: 1rem;
   display: inline-block;
}