section#type-scale-preview {

   h1,
   .h1 {
      --font-size: calc(1rem * pow(var(--type-scale), 6));
      --typography-spacing-top: 3rem;
   }

   h2,
   .h2 {
      --font-size: calc(1rem * pow(var(--type-scale), 5));
      --typography-spacing-top: 2.625rem;
   }

   h3,
   .h3 {
      --font-size: calc(1rem * pow(var(--type-scale), 4));
      --typography-spacing-top: 2.25rem;
   }

   h4,
   .h4 {
      --font-size: calc(1rem * pow(var(--type-scale), 3));
      --typography-spacing-top: 1.874rem;
   }

   h5,
   .h5 {
      --font-size: calc(1rem * pow(var(--type-scale), 2));
      --typography-spacing-top: 1.6875rem;
   }

   h6,
   .h6 {
      --font-size: calc(1rem * var(--type-scale));
      --typography-spacing-top: 1.5rem;
   }

   small,
   .sm {
      --font-size: calc(1rem / var(--type-scale));
   }

   .xs {
      --font-size: calc(1rem / pow(var(--type-scale), 2));
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   .sm,
   .xs {
      margin: 0;
      color: var(--color);
      font-weight: var(--font-weight);
      font-size: var(--font-size);
      font-family: var(--font-family);
   }

}
