:root {
   --minor-second: 1.067;
   --major-second: 1.125;
   --minor-third: 1.2;
   --major-third: 1.25;
   --perfect-fourth: 1.333;
   --augmented-fourth: 1.414;
   --perfect-fifth: 1.5;
   --minor-sixth: 1.6;
   --golden-ratio: 1.618;
   --root-font-size: 12pt;
   --font-size: 100%;
   --font-scale: 80%;
   --font-family: "Arial", sans-serif;
   --font-weight: 700;
}

section#type-scale-preview {

   h1,
   .h1 {
      --font-size: calc(1rem * pow(var(--type-scale), 6));
      --line-height: calc(var(--font-size) * var(--type-scale));
      --typography-spacing-top: 3rem;
   }

   h2,
   .h2 {
      --font-size: calc(1rem * pow(var(--type-scale), 5));
      --line-height: calc(var(--font-size) * var(--type-scale));
      --typography-spacing-top: 2.625rem;
   }

   h3,
   .h3 {
      --font-size: calc(1rem * pow(var(--type-scale), 4));
      --line-height: calc(var(--font-size) * var(--type-scale));
      --typography-spacing-top: 2.25rem;
   }

   h4,
   .h4 {
      --font-size: calc(1rem * pow(var(--type-scale), 3));
      --line-height: calc(var(--font-size) * var(--type-scale));
      --typography-spacing-top: 1.874rem;
   }

   h5,
   .h5 {
      --font-size: calc(1rem * pow(var(--type-scale), 2));
      --line-height: calc(var(--font-size) * var(--type-scale));
      --typography-spacing-top: 1.6875rem;
   }

   h6,
   .h6 {
      --font-size: calc(1rem * var(--type-scale));
      --line-height: calc(var(--font-size) * var(--type-scale));
      --typography-spacing-top: 1.5rem;
   }

   small,
   .sm {
      --font-size: calc(1rem / var(--type-scale));
      --line-height: calc(var(--font-size) * var(--type-scale));
   }

   .xs {
      --font-size: calc(1rem / pow(var(--type-scale), 2));
      --line-height: calc(var(--font-size) * var(--type-scale));
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   .sm,
   .xs {
      margin: 0;
      color: var(--color);
      font-weight: var(--font-weight);
      font-size: var(--font-size);
      line-height: var(--line-height);
      font-family: var(--font-family);
   }

}